{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>

<div class="foot">
    <div class="foot-body">
      <p class="foot-des-head">About us</p>
    <p class="foot-des">Welcome to Basketball&More, your ultimate destination for all things basketball! Founded in Canada by a passionate basketball player, this website was created with athletes like you in mind. Whether you're a dedicated player, an NBA enthusiast, or someone looking to enhance their basketball experience, we've got you covered. <br> <br>

      </p>
      <p class="foot-des-not-there">As basketball lovers ourselves, we understand the thrill and excitement that the sport brings. Our mission is to provide a comprehensive platform that caters to your basketball needs, offering a range of products and resources that enhance your game and celebrate your love for basketball.</p>
    <p class="foot-des-head">Contact</p>
    <p class="foot-des">For questions, feedback, and other inquiries</p>
    <p class="foot-des">sportingessentials11@gmail.com</p>
    <p class="foot-des-head">Links for Athletes</p>
    <a style="font-family: sans-serif; color: rgb(172, 125, 125); " href="https://www.nike.com/ca/student-discount?CP=EUNS_AFF_AWIN_ROW_181013_httpwwwskimlinkscom_275731&utm_source=httpwwwskimlinkscom&utm_medium=affiliate&utm_campaign=181013&utm_content=275731&awc=16349_1684026810_22e03b9f5ac04c586d760a8985b7f79b">
      Get 10% student discount at nike
    </a>
    <br>
    <a style="font-family: sans-serif; color: rgb(172, 125, 125) ; padding-top: 3px; " href="https://www.footlocker.ca/en/student-beans.html">
      Get 20% student discount at Footlocker
    </a>
    </div>
    
    <div class="foot-notice">
      <p>The product links on this website are affiliate so if you buy something through our website you are supporting us :)</p>
      <p>The product images displayed on this website are owned by companies on Amazon.com, Inc. and Nike and are used for the purpose of product promotion and affiliate marketing only. We do not claim ownership of these images.</p>
    </div>
</div>

