{% include 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AthletesChoice-HomePage: The Unique Basketball Guide</title>
    <meta name="description" content="Welcome to our athlete-focused website! Discover a world dedicated to the needs and preferences of athletes. Explore a range of essentials and grooming products that top athletes swear by. Uncover tips, recommendations, and insights on everything from training gear to personal care. Join us as we celebrate the lifestyle and dedication of athletes everywhere.">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
   
</head>
<body>
    <div class="margin-home">
        <h1 class="header">Welcome</h1>
        <p>Welcome to our athlete-focused website! Discover a world dedicated to the needs and preferences of athletes. Explore a range of essentials and grooming products that top athletes swear by. Uncover tips, recommendations, and insights on everything from training gear to personal care. Join us as we celebrate the lifestyle and dedication of athletes everywhere. <br> <br> Our number one objective is making reputable and interesting basketball content. Check out some of our work below.</p>
        
        <div class="contents">
            <div class="flex">
                <div>
                    <a href="{% url 'basketball-essentials' %}" class="page-header">Top 10 Basketball Essentials</a>
                
                    <img class="img-page-1"   src="{% static 'images/essent-home.jpg' %}" alt="">
                    
                </div>
                <div>
                    <p class="description-pages">Whether you're a beginner or a seasoned pro, having the right gear and equipment is essential for playing basketball at your best. From footwear to training aids, there are a variety of items that can help improve your game and keep you safe on the court. In this guide, we'll highlight the top 10 basketball essentials you need to succeed. <br> <br></p>
                       
                </div>
            </div>   
       
            

            <div class="flex">
                <div>
                    <a href="{% url 'nba-players-cologne-choices' %}" class="page-header">A look into NBA Colognes</a>
                    <img class="img-page"   src="{% static 'images/dwight.jpg' %}" alt="">
                    
                </div>
                <div>
                    
                    <p class="description-pages">Indulge your senses in the captivating world of NBA Player Colognes, where you can explore the signature scents chosen by some of the most iconic basketball players in the NBA. Each player has carefully selected a fragrance that reflects their unique personality, style, and on-court prowess. Immerse yourself in the world of luxury fragrances and discover the enticing aromas that accompany these legendary athletes.</p>
                </div>
                
            </div>
            <div class="flex">
                <div>
                    <a href="{% url 'preventing-injury' %}" class="page-header">The Keys to longevity: Reduce the Risk of Injury</a>
                    <img class="img-page"   src="{% static 'images/giannis.jpg' %}" alt="">
                    
                </div>
                <div>
                    
                    <p class="description-pages">Welcome to our comprehensive guide on how to prevent injuries as a basketball player. Whether you're a seasoned athlete or just starting out, it's crucial to prioritize injury prevention to stay on top of your game and enjoy the sport you love. In this guide, we'll explore effective strategies, share insights from NBA players who have successfully overcome injuries, and provide valuable tips to keep you healthy and thriving on the court.</p>
                </div>
                
            </div>
            <div class="flex">
                <div>
                    <a href="{% url 'nba-watch-picks' %}" class="page-header">The Leagues Greatest Timepieces: The NBA watch Guide.</a>
                    <img class="img-page"   src="{% static 'images/lebron-watch-home.jpeg' %}" alt="">
                    
                </div>
                <div>
                    
                    <p class="description-pages">Explore the impressive watch collection of NBA players and discover the luxurious timepieces adorning their wrists. From elegant classics to bold statement pieces, delve into the world of basketball and horology. Get insights into the watches worn by your favorite basketball stars and stay up-to-date with the latest trends in timekeeping. Enhance your style and elevate your knowledge of watches with our comprehensive guide. Dive into the world where sports and sophistication intertwine.</p>
                </div>
                
            </div>
            <div class="flex">
                <div>
                    <a href="{% url 'the-game-changers' %}" class="page-header">The Game-Changers of the NBA: Hustle, Defense, and a Hunger to Win</a>
                    <img class="img-page"   src="{% static 'images/jose-energy.webp' %}" alt="">
                    
                </div>
                <div>
                    
                    <p class="description-pages">layers who excel in the dirty work – the unglamorous aspects of basketball such as rebounding, defense, and relentless hunger for victory – are indispensable assets for any team in the league. While they may not always receive the spotlight or accolades, these game-changers play a pivotal role in shaping a team's success.</p>
                </div>
                
            </div>
        </div>
            
        
    
    <div class="about-us">
        <h1 style="padding-top: 70px; padding-bottom: 20px;">About us</h1>
        <p>Welcome to Basketball&More, your ultimate destination for all things basketball! Founded in Canada by a passionate basketball player, this website was created with athletes like you in mind. Whether you're a dedicated player, an NBA enthusiast, or someone looking to enhance their basketball experience, we've got you covered. <br> <br>

            As basketball lovers ourselves, we understand the thrill and excitement that the sport brings. Our mission is to provide a comprehensive platform that caters to your basketball needs, offering a range of products and resources that enhance your game and celebrate your love for basketball.</p>
    </div>
    
    </div>
   
    
    
    
{% include 'footer.html' %}
</body>

</html>
 

