{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explore the captivating world of NBA players' cologne selections. Discover the signature scents and preferred fragrances of basketball icons, unveiling a captivating blend of style, elegance, and personal expression. Find inspiration for your own cologne journey as you delve into the intriguing world where sports and fragrances converge">
    <title>Signature Scents of NBA Players: Unveiling the Cologne Choices of Basketball Icons</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>
<body>
    <h1 class="top-head">Welcome to NBA Player Colognes: Discover the Signature Scents of Your Favorite Players</h1>
    {% for scent in scents %}
        <a class="table-of-contents" style="text-decoration: none;" href="#scent{{ forloop.counter }}"> - {{ scent.header }}</a>
        <br>
    {% endfor %}
   
    <div class="info">
        <div class="grid">
        {% for scent in scents %}
            <p style="padding-top: 150px;"></p>
        <a id="scent{{ forloop.counter }}" class="header"  style="text-decoration: none;" href="{{ colonge_url }}">{{ scent.header }}</a>
        <p style="padding-top: 20px;"></p>
        <div>
            <img class="images" class="images" src="{{ scent.player_image.url }}" alt="Player Image">
          
            
        </div>
        <p class="question">Why does {{ scent.player_name}} use this scent?</p>
        <div class="description">
            <p >{{ scent.why|linebreaks|safe }}</p>
        </div>
        {% if scent.application %}
            <p class="question">How does {{ scent.player_name }} apply his scent</p>
        {% endif %}
        <div class="description">
            <p >{{ scent.application|linebreaks|safe }}</p>
        </div>
        <div class="grid-photo">
            <div>
                
            
                <a class="name" style="text-decoration: none; float: left;" href="{{ colonge_url }}">- Look at {{ scent.colonge_name }}</a>
                <br>
                <a style="text-decoration: none; display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 390px;
                color: black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
                padding-top: 5px;" href="{{ scent.colonge_url }}">{{ scent.colonge_url }}</a>
            </div>
            
        </div>
            
            
           
      
       
        {% endfor %}
        </div>
        
    </div>

    <div class="navbar">
        <div style="padding: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;">
            <p>This website uses affiliate links, so if you decide to buy something you will support our work :)</p>
            <p>for inquiries</p>
        <p>sportingessentials11@gmail.com</p>
        <p>All images  used are <span style="font-weight: bold;">not</span> owned by this website</p>
        <p>Other work</p>
        <a href="https://top10basketballessentials.pythonanywhere.com/">Top Ten Basketball Essentials</a>
        </div>
        
    </div>
   


</body>
</html>

